[submodule "roles/geerlingguy.drupal"]
	path = roles/geerlingguy.drupal
	url = https://github.com/geerlingguy/ansible-role-drupal.git
[submodule "roles/ansible-java8-oracle"]
	path = roles/ansible-java8-oracle
	url = https://github.com/malk/ansible-java8-oracle.git
[submodule "roles/ansible-java8"]
	path = roles/ansible-java8
	url = https://github.com/gregwhitaker/ansible-java8.git
[submodule "roles/ansible-role-islandora-subsite"]
	path = roles/ansible-role-islandora-subsite
	url = https://github.com/lsulibraries/ansible-role-islandora-subsite.git
[submodule "roles/ansible-role-islandora-system-dependencies"]
	path = roles/ansible-role-islandora-system-dependencies
	url = https://github.com/lsulibraries/ansible-role-islandora-system-dependencies
[submodule "roles/ansible-role-islandora-collections"]
	path = roles/ansible-role-islandora-collections
	url = https://github.com/lsulibraries/ansible-role-islandora-collections
[submodule "migrations"]
	path = migrations
	url = https://github.com/lsulibraries/islandora_migrations.git
