#! /bin/bash

if [ "\$#" -eq 3 ]; then
  NAME="\$1"
  EMAIL="\$2"
  PUSH="\$3"
elif [ "\$#" -eq 2 ]; then
  NAME="\$1"
  EMAIL="\$2"
  PUSH="simple"
else
  echo 'Usage: git-config "Your Name" "your@email.com" [PUSH_DEFAULT]'
  exit 1
fi

git config --global user.name "\$NAME"
git config --global user.email "\$EMAIL"
git config --global push.default "\$PUSH"